.fotoCovid {
  border-radius: 10%;
  width: 30%; }

.fotoCovid2 {
  border-radius: 10%;
  width: 35%; }

.flex {
  padding: 30px;
  width: 50%;
  display: block;
  margin: auto; }

.flextitle1 {
  padding: 25px;
  font-size: 38px;
  text-align: center;
  letter-spacing: 1px; }

.flextitle2 {
  padding: 15px;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.5px; }

.flexparrafo {
  padding: 2px;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0.2px; }

.sectionMercadoFlex {
  padding: 30px;
  width: 80%;
  display: block;
  margin: auto;
  color: #187a7a;
  background-color: #fff; }

.fotoCovid {
  display: flex;
  margin: auto;
  width: 30%; }

.fotoCovid2 {
  display: flex;
  margin: auto;
  width: 40%; }

.grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50% 50%;
  grid-column-gap: 10px;
  grid-row-gap: 20px; }

.section2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px; }

.carousel {
  background-image: url(./fotofondodeautos.png);
  background-size: cover; }

.carousel-item {
  height: 25rem;
  color: white;
  position: relative;
  background-color: rgba(0, 0, 0, 0.25); }

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.nav-link:hover {
  background-color: green;
  color: white; }

.container-footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
  padding-top: 1rem; }

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100; }

.whatsapp:hover {
  color: #FFF;
  transform: scale(1.25);
  transition: all 300ms ease-in-out; }

.whatsapp-icon {
  margin-top: 13px; }

.gridIndex {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 10px; }

.vehiculos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.auto {
  display: flex;
  flex: 1 1 auto; }

.bg-primary {
  background-color: #0f4728 !important; }

.bg-secondary {
  background-color: #DADED4 !important; }

.bg-dark {
  background-color: #FFF !important; }

.text-white {
  letter-spacing: 2px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fffffff3;
  font-family: 'Quattrocento Sans', sans-serif; }

p {
  font-size: 18px;
  text-align: left;
  color: #39603D; }

h3 {
  font-size: 22px;
  text-align: center;
  color: #3C403D; }

.titulo1 {
  color: #3C403D;
  text-align: center;
  font-size: 34px; }
