.fotoCovid {
  border-radius: 10%;
  width: 30%; }

.fotoCovid2 {
  border-radius: 10%;
  width: 35%; }

.carousel {
  background-image: url(./../fotos/fotofondodeautos.png);
  background-size: cover; }

.carousel-item {
  height: 25rem;
  color: white;
  position: relative;
  background-color: rgba(0, 0, 0, 0.25); }

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.textWhite {
  color: #FFF; }

.nav-link:hover {
  background-color: green;
  color: white; }

.container-footer {
  width: 100%;
  height: 50px;
  text-align: center;
  bottom: 0;
  position: inherit; }

.position-absolute {
  position: absolute; }

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100; }

.whatsapp:hover {
  color: #FFF;
  transform: scale(1.25);
  transition: all 300ms ease-in-out; }

.whatsapp-icon {
  margin-top: 13px; }

.gridIndex {
  display: grid;
  grid-template-rows: 30% 30% 30%;
  grid-row-gap: 10px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px; }

@media only screen and (min-width: 720px) {
  .gridIndex {
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 10px; } }

.vehiculos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.auto {
  width: 100%; }

@media only screen and (min-width: 720px) {
  .vehiculos {
    flex-direction: row; }
  .auto {
    width: 50%; } }

.flex {
  padding: 30px;
  width: 50%;
  display: block;
  margin: auto; }

.flextitle1 {
  padding: 25px;
  font-size: 34px;
  text-align: center;
  letter-spacing: 1px; }

.flextitle2 {
  padding: 15px;
  font-size: 32px;
  text-align: left;
  letter-spacing: 0.5px; }

.flexParrafo {
  padding: 2px;
  font-size: 22px;
  text-align: left;
  letter-spacing: 0.2px; }

.sectionMercadoFlex {
  padding: 30px;
  width: 80%;
  display: block;
  margin: auto;
  color: #187a7a;
  background-color: #fff; }

.fotoCovid {
  display: flex;
  margin: auto;
  width: 30%; }

.fotoCovid2 {
  display: flex;
  margin: auto;
  width: 40%; }

.grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50% 50%;
  grid-column-gap: 10px;
  grid-row-gap: 20px; }

.section2 {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-row-gap: 10px; }

@media only screen and (min-width: 720px) {
  .section2 {
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px; }
  .tabla-centrada {
    padding: 15px; } }

.bg-primary {
  background-color: #0f4728 !important; }

.bg-secondary {
  background-color: #DADED4 !important; }

.text-white {
  letter-spacing: 2px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fffffff3;
  font-family: 'Quattrocento Sans', sans-serif;
  height: 100%; }

p {
  font-size: 18px;
  text-align: left;
  color: #39603D; }

h3 {
  font-size: 22px;
  text-align: center;
  color: #3C403D; }

.titulo1 {
  color: #3C403D;
  text-align: center;
  font-size: 34px; }
