@import "colores";

.encabezado {
  background-color: $bgcolor;
  margin: 0;
  padding: 0;
}
.logo {
  background-color: $bgcolor;
  border-radius: 20%;
  width: 30%;
  display: block;
  text-align: center;
}
header {
  .nav {
    background-color: $bgcolor;
    padding: 0;
    width: 100%;
    margin: 10px auto;
    .menu {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-around;
      .elemento {
        margin: 10px;
        padding: 10px;
        &:hover {
          background-color: $bgcolor ;
          color: $textcolor;
        }
      }
    }
  }
}
a {
  text-decoration: none;
}
.a1 {
  color: $textcolor;
  font-size: 24px;
}
