@import "colores";
@import "seccion";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffffff3;
  font-family: 'Quattrocento Sans', sans-serif;
  height: 100%;
}

p {
  font-size: 18px;
  text-align:left;
  color: #39603D;
}

h3 {
  font-size: 22px;
  text-align: center;
  color: $textcolor;
}


@mixin textoGrandeCentrado() {
  color: $textcolor;
  text-align: center;
}


.titulo1 {
  @include textoGrandeCentrado();
  font-size: 34px;
}

